<!DOCTYPE html>
<html>
{include file="./layout/head" /}

<body class="kit-theme">

<div class="demoTable">

    <div class="layui-layout-right">
        <a href="{:url('admin/agency/create')}"  class="layui-btn">添加办事处</a>
    </div>

    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" placeholder="搜索名称" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<table class="layui-table" lay-data="{id:'idTest',height:'full', url:'{:url('admin/agency/showList')}', page:true}" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{field:'agency_id',align:'center', width:100, sort: true, fixed: true}">ID</th>
        <th lay-data="{field:'agency_name',align:'center', width:400}">名称</th>
        <th lay-data="{fixed: 'right', width:400, align:'center', toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-mini" lay-event="showRebate">查看返利</a>
</script>
<script>
    layui.use('table', function() {
        var table = layui.table;

        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;

            if(obj.event === 'edit'){
                location.href = '{:url("admin/agency/update")}'+'?id='+data.agency_id;
            }else if(obj.event === 'showRebate'){
                location.href = '{:url("admin/agency/showRebate")}'+'?id='+data.agency_id;
            }
        });

        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');

                table.reload('idTest', {
                    where: {
                        search: demoReload.val(),
                        id: demoReload.val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>
</body>
</html>