<!DOCTYPE html>
<html>
{include file="./layout/head" /}

<body class="kit-theme">
<form class="layui-form" action="{:url('admin/member/update',['id'=>$member['id']])}" method="post" onsubmit="return check();">

   <div class="layui-form-item">
		<label class="layui-form-label">申报人</label>
		<div class="layui-input-block">
			<input type="text" name="name" id="name"  placeholder="请输入姓名" value="{$member.name}"  autocomplete="off" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">手机</label>
		<div class="layui-input-block">
			<input type="text" name="mobile" id ="mobile" autocomplete="off" placeholder="请输入手机号" class="layui-input" value="{$member.mobile}" >
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">云联惠ID</label>
		<div class="layui-input-block">
			<input type="text" name="yun_id"  id ='yun_id' autocomplete="off"  placeholder="请输入云联惠ID" class="layui-input" value="{$member.yun_id}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">云联惠绑定手机号</label>
		<div class="layui-input-block">
			<input type="text" name="bind_mobile" id ='bind_mobile'  autocomplete="off" class="layui-input" id ='' placeholder="请输入云联惠绑定手机号" value="{$member.bind_mobile}" >
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">汇款金额</label>
		<div class="layui-input-block">
			<input type="text" name="amount" id ='amount'  autocomplete="off" class="layui-input"  readonly = "readonly"  placeholder="请输入汇款金额" value="{$member.amount}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">汇款日期</label>
		<div class="layui-input-block">
			<input type="text" name="charge_date" readonly = "readonly"   id="date"  placeholder="请选择日期" value="{$member.charge_date}" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">付款方式</label>
		<div class="layui-input-block">
			<input type="text" name="payment" id ='payment'  autocomplete="off" class="layui-input"  placeholder="清输入付款方式" value="{$member.payment}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">身份证号</label>
		<div class="layui-input-block">
			<input type="text" name="idcard" id ='idcard'  autocomplete="off" class="layui-input"  placeholder="请输入身份证号" value="{$member.idcard}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">开户名</label>
		<div class="layui-input-inline">
			<input type="text" name="bank_username"  id ='bank_username'  autocomplete="off" placeholder="请输开户名" class="layui-input"  value="{$member.bank_username}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">开户行</label>
		<div class="layui-input-block">
			<!--<input type="text" name="bank_name"  autocomplete="off" placeholder="请输入开户行" class="layui-input">-->
			<select name="bank_name" id = 'bank_name' >
				<option value=''>--请选择--</option>
				{volist name='bank' id='vo'}
				<option value="{$vo.bank_id}" {if condition="$vo['bank_id'] eq $member['bank_name']"}selected{/if} >{$vo.bank_name}</option>
				{/volist}
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">支行</label>
		<div class="layui-input-block">
			<input type="text" name="bank_branch"   placeholder="请输入支行" class="layui-input" value="{$member.bank_branch}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">账号</label>
		<div class="layui-input-block">
			<input type="text" name="bank_account_number" id ='bank_account_number'   autocomplete="off" placeholder="请输入银行卡号" class="layui-input" value="{$member.bank_account_number}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">购买类型</label>
		<div class="layui-input-block">
			<select   disabled>
				<option value="1" {if condition="$member['type'] eq 1"}selected{/if}>90天购车</option>
				<option value="2" {if condition="$member['type'] eq 2"}selected{/if}>90天购房</option>
				<option value="3" {if condition="$member['type'] eq 3"}selected{/if}>180天购房购车</option>
			</select>
		</div>
	</div>
	<span>办事处及推荐人信息</span>
	<div class="layui-form-item">
		<label class="layui-form-label">办事处名称</label>
		<div class="layui-input-block">
			  <select name="agency_id"  id ='agency_id'>
				<option value="">--请选择--</option>
				{volist name='agency' id='vo'}
				<option value="{$vo.agency_id}" {if condition="$vo['agency_id'] eq $member['agency_id']"} selected{/if}>{$vo.agency_name}</option>
				{/volist}
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">直接分享人</label>
		<div class="layui-input-block">
			<input type="text" name="share_username" id ='share_username'   autocomplete="off" placeholder="请输入直接分享人" class="layui-input" value="{$member.share_username}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">分享人云联惠ID</label>
		<div class="layui-input-block">
			<input type="text" name="share_yun_id" id ='share_yun_id'  autocomplete="off" placeholder="请输入分享人云联惠ID" class="layui-input" value="{$member.share_yun_id}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">绑定手机号</label>
		<div class="layui-input-block">
			<input type="text" name="share_usermobile" id ='share_usermobile'  autocomplete="off" placeholder="请输入绑定手机号" class="layui-input" value="{$member.share_usermobile}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">备注</label>
		<div class="layui-input-block">
			<input type="text" name="remarks"   autocomplete="off" placeholder="备注" class="layui-input" value="{$member.remarks}">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
			<a href="{:url('admin/member/showlist')}" class="layui-btn" >返回</a>
		</div>
	</div>
</form>
<script type="application/javascript">
	layui.use('form', function(){
		var form = layui.form;
		form.on('submit(*)', function(data){
			setTimeout(
				function () {
					layer.load(0, { shade: [0.3, '#333'] });
				},
				10
			)

			return true
		});
	});

	function check(){
		var name = document.getElementById("name").value;
		var mobile = document.getElementById("mobile").value;
		var yun_id = document.getElementById("yun_id").value;
		var bind_mobile = document.getElementById("bind_mobile").value;
		var amount = document.getElementById("amount").value;
		var date = document.getElementById("date").value;
		var payment = document.getElementById("payment").value;
		var idcard = document.getElementById("idcard").value;
		var bank_username = document.getElementById("bank_username").value;
		var bank_name = document.getElementById("bank_name").value;
		var bank_account_number = document.getElementById("bank_account_number").value;
		var agency_id = document.getElementById("agency_id").value;
		var share_username = document.getElementById("share_username").value;
		var share_yun_id = document.getElementById("share_yun_id").value;
		var share_usermobile = document.getElementById("share_usermobile").value;

		var reg_mobile = /^[0-9]*[1-9][0-9]*$/;

		if(name == ''){
			alert('请输入申报人');
			return false;
		}else if(mobile == '' || !reg_mobile.test(mobile) || mobile.length != 11){
			alert('申报人手机号不正确');
			return false;
		}
		// else if(yun_id == '' ){
		// 	alert('云联惠id不能不为空');
		// 	return false;
		// }
		// else if(bind_mobile == '' || !reg_mobile.test(mobile) || mobile.length != 11){
		// 	alert('绑定云联惠手机号不正确');
		// 	return false;
		// }
		else if(amount == '' || !reg_mobile.test(amount)){
			alert('金额必须是数字');
			return false;
		}else if(date == ''){
			alert('请选择汇款日期');
			return false;
		}
		// else if(agency_id == ''){
		// 	alert('请选择办事处');
		// 	return false;
		// }
		// else if(share_yun_id == ''){
		// 	alert('请填写分享人云联惠ID');
		// 	return false;
		// }
		else{
			return true;
		}

	}

</script>
</body>
</html>